version: '3.2'
services:
  api:
    image: my-blog-api:0.0.1d
    build:
      context: ./../
      dockerfile: ./build/my-blog-api/Dockerfile.dev
    volumes:
      - ./../src:/srv/app/src
    ports:
      - target: 80
        published: 80
        protocol: tcp
        mode: ingress
  db:
    image: my-blog-db:0.0.1d
    build:
      context: ./../
      dockerfile: ./build/my-blog-db/Dockerfile.dev
    env_file: ./../.env
    volumes:
      - my-blog-db-data:/var/lib/mysql
    ports:
      - target: 3306
        published: 3306
        protocol: tcp
        mode: ingress

volumes:
  my-blog-db-data:
    driver: local